.my__posts {
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(4, 99, 128, 0.3);
  background-color: #fff;
}
.my__posts__form {
  padding: 12px;
}
.my__posts__form__title {
  padding-top: 12px;
  font-family: Roboto, sans-serif;
  text-align: center;
  color: #065062;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}