.content {
    background-color: rgba(245,245,245,0.2);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(6px);
    border: 2px solid rgba(255, 255, 255, .09);
    margin: 7px 0 5px 8px;
    box-shadow: 0 0 4px 1px #046380;
}
.content h3 {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #065062;
}
