.header {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  justify-content: space-between;
  background-color: #046380;
  grid-area: h;
  border-bottom: 2px solid rgba(255, 255, 255, 0.09);
}
.logo {
  margin-left: 150px;
}
.loginBlock {
  display: flex;
  justify-content: flex-end;
}
.loginLink {
  color: white;
  text-decoration: none;
}
.logoutLink {
  color: white;
  text-decoration: none;
  padding-right: 50px;
}
@media screen and (max-width: 765px) {
  .logo {
    margin-left: 4px;
    width: 150px;
  }
  .header {
    padding: 20px 12px;
    justify-content: space-between;
  }
}