.NavBar {
    grid-area: n;
    background: rgb(4, 99, 128, 0.3);
    height: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(6px);
    margin-right: 5px;
    font-size:18px;
    border-right: 2px solid rgba(255, 255, 255, .09);
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}

.item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    height: 50px;
    padding: 0 16px;
    margin: 8px 0;
    color: #046380;
    opacity: .9;
    transition: .4s;
    text-decoration: none
}
.item:hover {
    background-color: rgba(255, 255, 255, .2);
}
.active .item  {
    font-weight:bold;
    transition: all 0.3s;
    opacity: 1;
    transform: scale(1, 1);
    letter-spacing: 2px;
}

.NavBar ul {
    padding: 0 10px;
}

.item span {
    margin-left: 10px;
    pointer-events: none;
}


