.content {
  grid-area: c;
  background-color: rgba(245, 245, 245, 0.2);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(6px);
  border: 2px solid rgba(255, 255, 255, 0.09);
  margin: 7px 0 5px 8px;
  box-shadow: 0 0 4px 1px #046380;
}

.profileImg {
  width: 150px;
  border-radius: 50%;
  border: 5px solid rgb(4, 99, 128, 0.5);
}
