.profile__info {
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(4, 99, 128, 0.3);
  background-color: #fff;
}

.profile__info__img {
  width: 150px;
  border-radius: 50%;
  border: 5px solid rgb(4, 99, 128, 0.5);
}
