.content {
  background-color: rgba(245, 245, 245, 0.3);
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.post {
  margin-top: 10px;
}
.photoText {
  display: flex;
}
.photo {
  width: 60px;
  border-radius: 50%;
  border: solid rgb(4, 99, 128, 0.5);
}
.text {
  display: flex;
  word-break: break-all;
  align-items: center;
  margin-left: 10px;
}
.like {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  padding-left: 12px;
}
.icon {
  color: red;
}
