.profile__card__section {
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(4, 99, 128, 0.3);
    background-color: #fff;
}

.profile__card {
    display: grid;
    grid-template-columns: 151px 1fr;
    position: relative;
}

.profile__card__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 150px;;
    gap: 6px;
}


.profile__card__img img {
    width: 100%;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(4, 99, 128, 0.5);
}


.profile__card__img__edit {
    cursor: pointer;
    position: absolute;
    bottom: 56px;
    right: 15px;
    color: #046380;
}

.profile__card__img__edit:hover {
    color: #5aaac3;
    transition: color 0.3s ease-in-out;
}

.profile__card__info {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile__card__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__card__info__right {
    display: flex;
    flex-direction: column;
}

.item {
 line-height: 1.5rem;
}

.item__name {
    font-weight: bold;
    color: #5aaac3;
}

.button {
    margin-top: 30px;
    height: 30px;
    font-size: 14px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .profile__card {
        display: flex;
        flex-direction: column;
    }
    .profile__card__img {

    }

    .profile__card__img__edit {
        bottom: 38px;
        right: 15px;

    }
}

@media screen and (max-width: 765px) {
    .profile__card {
        align-items: center;
    }
    .profile__card__info {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        align-items: flex-start;
        width: 100%;
    }
    .profile__card__img__edit {
        bottom: 46px;
    }

}



